body {
  background-color: #fff;
  color: #3C4043;
}
@supports (-moz-appearance:none) {
  body {
    font-size: 13px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  button,
  input[type=submit],
  input[type=button] {
    height: 24px;
    color: rgb(68, 68, 68);
    background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
    text-shadow: rgb(240, 240, 240) 0 1px 0;
    border: solid 1px rgba(0, 0, 0, 0.25);
  }
  input[type=button]:disabled {
    opacity: 0.2;
  }
  textarea {
    box-sizing: border-box;
    padding: 5px;
  }
}
table {
  width: 100%;
}
textarea {
  margin-top: 5px;
}
hr {
  border: none;
  border-top: dashed 1px #ccc;
  padding: 0;
  margin: 10px 0;
}
code {
  padding: 0 2px;
  background-color: rgba(0,0,0,0.05);
  font-family: inherit;
}
.note {
  padding-bottom: 5px;
}
.hidden {
  display: none;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
  text-decoration: line-through;
}
.grid {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
}
